{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="mt-5 text-white mx-5 text-justify">
    <div class="text-center" >
     <img src="{% static 'core/images/me.jpg' %}" alt="ProfilePic"
     class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold satisfy-regular">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">
                I am <b class="text-warning">Mohd Nasrullah Siddiqui</b> having a zero
                year of python development experience for global bussinesses,
                I offer the Technical expertise you are seeking for your python developer 
                position and workkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            <p>
                Since earning my bachelor's degree in cs and python development
                from XYZ university, I have served as a python developer at
                <b class="text-warning">
                    Microsoft Technology</b>, one of biggest premier digital marketing and web development
                    firm. In tjis position, I have led Python development projects for clients
                    in diverse industries including Technology, manufacturing, hospitality, retail
                    and financial services.</p>
            <p>Enthusiastic and dedicated Python developer with a strong foundation in software 
                engineering principles. Eager to contribute to team success through hard work, 
                attention to detail, and excellent organizational skills. Motivated to learn, 
                grow, and excel in the software development industry. </p>
        </div>
    </div>
     <div class="text-center">
       <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>

       <a href="" class="btn btn-outline-info my-3">Contact</a>
     </div>
</div>
{% endblock content %}